[wsl2]
memory={{WSL_MEMORY}}
processors={{WSL_PROCESSORS}}
swap={{WSL_SWAP}}

[experimental]
autoMemoryReclaim=gradual
networkingMode=nat
# sparseVhd=true is disabled in some WSL builds due to data-corruption risk;
# enable manually once your WSL version supports it:
#   wsl --manage Ubuntu-DevOps --set-sparse true --allow-unsafe
